/* Estilo geral */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Estilo do cabeçalho */
header {
  background-color: #000000;
  color: #ffffff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

nav a:hover {
  background-color: #555555;
}

/* Estilo da seção de produtos */
section {
  padding: 20px;
}

section h2 {
  margin-top: 0;
  font-size: 24px;
  color: #131212;
  text-align: center;
}

.ativ {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.ativ h4 {
  margin-top: 0;
}

.ativ p {
  margin-bottom: 10px;
}

.ativ a {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.ativ a:hover {
  background-color: #0056b3;
}

/* Estilo do rodapé */
footer {
  background-color: #000000;
  color: #050505;
  padding: 10px;
  text-align: center;
  font-family: Arial;
}

/* Estilo do título da página */
h1 {
  font-family: 'Medula One', sans-serif;
  font-weight: bold;
}
